# files to be excluded:

package-lock.json
public/img/*
public/tmp/*
public/users/*
public/mp3/*
node_modules/
*.env
dist/

# terraform
*.tfvars
terraform/files
credentials.json
*.tfstate
*.tfstate.backup
*.lock.hcl
.terraform
