<%- include('header'); %>
		
	<div><br/><br/>
    
	<h1>
    Cookie Policy
  </h1>
    <p>
    A browser cookie is a small piece of data that is stored on your device to help websites and mobile apps remember things about you. Other technologies, including Web storage and identifiers associated with your device, may be used for similar purposes. In this policy, we say “cookies” to refer to all of these technologies.
    Our Privacy Policy explains how we collect and use information from and about you when you use Tuba.work services. This policy explains more about how we use cookies and your related choices.
    </p>
    <h2>
      How We Use Cookies
    </h2>
    <p>
      Like most providers of online services, Tuba.work uses cookies for a number of reasons, like protecting your Tuba.work data and account, helping us see which features are most popular, counting visitors to a page, improving our users’ experience, keeping our services secure and just generally providing you with a better, more intuitive, and satisfying experience. The cookies we use generally fall into one of the following categories.
    </p><br/>
    <table>
      <thead ><th>Category of cookies</th><th>Why we use these cookies</th></thead>
      <tbody>
        <tr><td style="border: 1px solid lime; padding: 10px">Necessary</td><td style="border: 1px solid lime; padding: 10px">We use these cookies to run our site, and to identify and prevent security risks. For example, we may use these cookies to store your session information to prevent others from changing your password without your username and password.</td></tr>
        <tr><td style="border: 1px solid lime; padding: 10px">Preferences</td><td style="border: 1px solid lime; padding: 10px">We use these cookies to remember your settings and preferences, and to improve your experience on our site. For example, we may use these cookies to remember your language preferences.</td></tr>
        <tr><td style="border: 1px solid lime; padding: 10px">Performance</td><td style="border: 1px solid lime; padding: 10px">We use these cookies to collect information about how you use our site, monitor site performance, and improve our site performance, our services, and your experience. For example, we can use these cookies to learn more about which features are the most popular with our users and which ones might need some tweaks.</td></tr>
      </tbody>
    </table><br/><br/>
    
    <h2>
      Analytics and Advertising Services
    </h2>
    <p>
      We may let other companies use cookies on our services. These companies may collect information about how you use our services over time and combine it with similar information from other services and companies. This information may be used to, among other things, analyze and track data, determine the popularity of certain content, and better understand your online activity.
    Additionally, some companies, including our affiliates, may use information collected on our services to prevent fraud or other unauthorized or illegal activity and to measure and optimize the performance of our infrastructure.
    </p>
	</div>
  <br/><br/><br/><br/>
		
<% include footer.ejs %>