<%- include('header'); %><br/><br/><br/><br/>

<style>.p{
  display: none;
}</style>

	<div class='body'>
		<ul class="pages">
			<li class="chat page">
				<ul class="users"></ul>
        <textarea class="inputMessage" placeholder="Type here..."></textarea>
				<div class="chatArea">
				<ul class="messages"></ul>
				</div>
			</li>
			<li class="login page">
				<div class="form">
				<h3>What's your nick?</h3>
				<input class="usernameInput" type="text" maxlength="14" /> 
				</div>
			</li>
		</ul>
    <script src="/socket.io/socket.io.js"></script>
		<!-- <script src="/socket.io/socket.io.js"></script> -->
	</div>

<div  class="p" id="p1">Enjoy</div>
		<div class="p">our</div>
		<div class="p">apps</div>
		<div class="p">,</div>
		<div  class="p" id="p5">we</div>
		<div class="p">hope</div><div class="p">it</div><div class="p">can</div><div class="p">be</div><div class="p">useful.</div>

    <script>
    $( "#p1" ).first().show( 200, function showNext() {
        $( this ).next( ".p" ).show( 200, function(){
          $( this ).next( ".p" ).show( 200, function(){
            $( this ).next( ".p" ).fadeIn(500, function(){
              $( "#p5" ).first().show( 100, function showHup() {
                $( this ).next( ".p" ).show( 100, showHup );
              });
            });
          });
        });
      });
    </script>

<script>
	
	
	function getUser(){
		var user;
		<% if(locals.user){ %>
			user = <%-JSON.stringify(user)%>;
		<% }else{ %>
			user = prompt("Please enter your nick");
		<% } %>
		return(user);
	}
	
	function getRoom(){
		<% if(locals.room){ %>
			return('<%=room%>');
		<% }else{ %>
			return(false);
		<% } %>
	}
</script>

<%- include('footer'); %>