<footer>
  
  <% if(locals.usd) { %>
    1฿ = $<span id="usd"><%=usd %></span> = R$<span id="brl"><%=brl %></span>
  <% } %>

</footer>
<!--

░░░░░░░░░▓▓▓▓▀█░░░░░░░░░░░░░ 
░░░░░░▄▀▓▓▄██████▄░░░░░░░░░░ 
░░░░░▄█▄█▀░░▄░▄░█▀░░░░░░░░░░ 
░░░░▄▀░██▄░░▀░▀░▀▄░░░░░░░░░░ 
░░░░▀▄░░▀░▄█▄▄░░▄█▄░░░░░░░░░ 
░░░░░░▀█▄▄░░▀▀▀█▀░░░░░░░░░░░ 
░░░░░░█░░░░░░░░▄▀▀░▐░░░░░░░░ 
░░░░▄▀░░░░░░░░▐░▄▄▀░░░░░░░░░ 
░░▄▀░░░▐░░░░░█▄▀░▐░░░░░░░░░░ 
░░█░░░▐░░░░░░░░▄░█░░░░░░░░░░ 
░░░█▄░░▀▄░░░░▄▀▐░█░░░░░░░░░░ 
░░░█▐▀▀▀░▀▀▀▀░░▐░█░░░░░░░░░░ 
░░▐█▐▄░░▀░░░░░░▐░█▄▄░░░░░░░░ 
░░░▀▀░░░░░░░░░░▐▄▄▄▀░░░░░░░░░ > caguei

-->

</body>
</html>