<% include header.ejs %>
	<div class="top">
		<img alt="Shark" src="img/shark-tribal2.png" width="150" height="150" />
		<img alt="Lion" src="img/lion-tribal2.png" width="150" height="150" />
		<img alt="Hawk" src="img/hawk-tribal2.png" width="150" height="150" />

    <p> This website use Cookies. Please check our 
      <a href="cookies" style="text-decoration: underline">Cookie Police</a> or 
      <a href="privacy" style="text-decoration: underline">Privacy Police</a> 
      for more information.
    </p>
	</div>

	<script src="/socket.io/socket.io.js"></script>
		
<% include footer.ejs %>