<%- include('header'); %>
		
	<div><br/><br/><br/>
    
	<h1>
    Privacy Policy
  </h1>
  <p>
    Last updated July 10th, 2020
  </p>
  <h2>
    INTRODUCTION
  </h2>
  <p>
    We respects the privacy of our users. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website tuba.work and our mobile application TubaPlayer, including any other media form, media channel, mobile website, or mobile application related or connected thereto. Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the site.
  We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the “Last Updated” date of this Privacy Policy. Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification.
  You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted.
    </p>
    <h2>COLLECTION OF YOUR INFORMATION</h2>
  <p>We may collect information about you in a variety of ways. The information we may collect on the Site includes:</p>
    <h3>Personal Data</h3>
  Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us while interacting with the Site or our mobile application, when you choose to participate in various activities related to the Site and our mobile application, such as online chat and message boards. You are under no obligation to provide us with personal information of any kind, however your refusal to do so may prevent you from using certain features of the Site and our mobile application.
    <h3>Derivative Data</h3>
  Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site. [If you are using our mobile application, this information may also include your device name and type, your operating system, your phone number, your country, your likes and replies to a post, and other interactions with the application and other users via server log files, as well as any other information you choose to provide.]
    <h3>Financial Data</h3>
  No financial data is currently requested from our website or our mobile app for users to pay for subscription or any other feature that may only be available through payment. Furthermore it may be added in future releases and this document may be updated when it happens.
    <h3>Mobile Device Data</h3>
  Device information, such as your mobile device ID, model, and manufacturer, and information about the location of your device, if you access the Site from a mobile device.
    <h3>Third-Party Data</h3>
  Information from third parties, such as personal information or network friends, if you connect your account to the third party and grant the Site permission to access this information.
    <h3>Data From Contests, Giveaways, and Surveys</h3>
  Personal and other information you may provide when entering contests or giveaways and/or responding to surveys.
    <h3>Mobile Application Information</h3>
  If you connect using our mobile application:
      • Mobile Device Access. We may request access or permission to certain features from your mobile device, including your mobile device’s storage and other features. If you wish to change our access or permissions, you may do so in your device’s settings.
      • Mobile Device Data. We may collect device information (such as your mobile device ID, model and manufacturer), operating system, version information and IP address.
      • Push Notifications. We may request to send you push notifications regarding your account or the Application. If you wish to opt-out from receiving these types of communications, you may turn them off in your device’s settings.
    <h2>USE OF YOUR INFORMATION</h2>
  Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Site or our mobile application to:
      • Assist law enforcement and respond to subpoena.
      • Compile anonymous statistical data and analysis for use internally or with third parties.
      • Create and manage your account.
      • Email you regarding your account or order.
      • Generate a personal profile about you to make future visits to the Site and our mobile application more personalized.
      • Increase the efficiency and operation of the Site and our mobile application.
      • Monitor and analyze usage and trends to improve your experience with the Site and our mobile application.
      • Notify you of updates to the Site and our mobile application.
      • Perform other business activities as needed.
      • Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.

      • Request feedback and contact you about your use of the Site and our mobile application.
      • Resolve disputes and troubleshoot problems.
      • Respond to product and customer service requests.
      • Solicit support for the Site and our mobile application.
    <h2>DISCLOSURE OF YOUR INFORMATION</h2>
  We may share information we have collected about you in certain situations. Your information may be disclosed as follows:
    <h3>By Law or to Protect Rights</h3>
  If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation. This includes exchanging information with other entities for fraud protection and credit risk reduction.
    <h3>Third-Party Service Providers</h3>
  We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.
    <h3>Marketing Communications</h3>
  With your consent, or with an opportunity for you to withdraw consent, we may share your information with third parties for marketing purposes, as permitted by law.
    <h3>Interactions with Other Users</h3>
  If you interact with other users of the Site and our mobile application, those users may see your name, profile photo, and descriptions of your activity, including sending invitations to other users, chatting with other users, liking posts, following blogs.
    <h3>Online Postings</h3>
  When you post comments, contributions or other content to the Site or our mobile applications, your posts may be viewed by all users and may be publicly distributed outside the Site and our mobile application in perpetuity.
    <h3>Affiliates</h3>
  We may share your information with our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include our parent company and any subsidiaries, joint venture partners or other companies that we control or that are under common control with us.
    <h3>Other Third Parties</h3>
  We may share your information with investors for the purpose of conducting general business analysis. 
    <h3>Sale or Bankruptcy</h3>
  If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may transfer your information to the successor entity. If we go out of business or enter bankruptcy, your information would be an asset transferred or acquired by a third party. You acknowledge that such transfers may occur and that the transferee may decline honor commitments we made in this Privacy Policy.
  We are not responsible for the actions of third parties with whom you share personal or sensitive data, and we have no authority to manage or control third-party solicitations. If you no longer wish to receive correspondence, emails or other communications from third parties, you are responsible for contacting the third party directly.
    <h2>TRACKING TECHNOLOGIES</h2>
    <h3>Cookies and Web Beacons</h3>
  We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site and our mobile application to help customize the Site and our mobile application and improve your experience. For more information on how we use cookies, please refer to our Cookie Policy posted on the Site, which is incorporated into this Privacy Policy. By using the Site, you agree to be bound by our Cookie Policy.
    <h3>Website Analytics</h3>
  We may also partner with selected third-party vendors[, such as Google Analytics and others, to allow tracking technologies and remarketing services on the Site and our mobile application through the use of first party cookies and third-party cookies, to, among other things, analyze and track users’ use of the Site and our mobile application, determine the popularity of certain content and better understand online activity. By accessing the Site, our mobile application, you consent to the collection and use of your information by these third-party vendors. You are encouraged to review their privacy policy and contact them directly for responses to your questions. We do not transfer personal information to these third-party vendors.
  You should be aware that getting a new computer, installing a new browser, upgrading an existing browser, or erasing or otherwise altering your browser’s cookies files may also clear certain opt-out cookies, plug-ins, or settings.
    <h2>THIRD-PARTY WEBSITES</h2>
  The Site and our mobile application may contain links to third-party websites and applications of interest, including advertisements and external services, that are not affiliated with us. Once you have used these links to leave the Site or our mobile application, any information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the safety and privacy of your information. Before visiting and providing any information to any third-party websites, you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that website, and should take those steps necessary to, in your discretion, protect the privacy of your information. We are not responsible for the content or privacy and security practices and policies of any third parties, including other sites, services or applications that may be linked to or from the Site or our mobile application.
    <h2>SECURITY OF YOUR INFORMATION</h2>
  We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot guarantee complete security if you provide personal information.
    <h2>POLICY FOR CHILDREN</h2>
  We do not knowingly solicit information from or market to children under the age of 13. If you become aware of any data we have collected from children under age 13, please contact us using the contact information provided below.
    <h2>CONTROLS FOR DO-NOT-TRACK FEATURES</h2>
  No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy. 
    <h2>OPTIONS REGARDING YOUR INFORMATION</h2>
    <h3>Account Information]</h3>
  You may at any time review or change the information in your account or terminate your account by:
      • Contacting us using the contact information provided below
  Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.
    <h3>Emails and Communications</h3>
  If you no longer wish to receive correspondence, emails, or other communications from us, you may opt-out by:
  • Contacting us using the contact information provided below.

  If you no longer wish to receive correspondence, emails, or other communications from third parties, you are responsible for contacting the third party directly.

    <h2>CALIFORNIA PRIVACY RIGHTS</h2>
  California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.
  If you are under 18 years of age, reside in California, and have a registered account with the Site or our mobile application, you have the right to request removal of unwanted data that you publicly post on the Site or our mobile application. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Site or our mobile application, but please be aware that the data may not be completely or comprehensively removed from our systems.
    <h2>CONTACT US</h2>
  If you have questions or comments about this Privacy Policy, please contact us at:

  <p>
    tubaleviao@gmail.com
    </p>

	</div><br/><br/><br/><br/>
		
<%- include('footer'); %>