<html>
<head>
	<title>Shooting Guys</title>
	<link rel="stylesheet" href="css/shooter.css"/>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="js/shooter.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="score"></div>
	<div>
		<img src="img/life.ico"/>
		<img src="img/life.ico"/>
		<img src="img/life.ico"/>
		<img src="img/life.ico"/>
		<img src="img/life.ico"/>
	</div>

	<div class="login">
		<p>Insert your nick</p>
		<input type="text" id="player" maxlength="14"/>
	</div>

	<div class="logout">
		<p>GAME OVER</p>
		<a href="/">Try again</a>
	</div>
  
  <script> // https://github.com/yckart/jquery.overlaps.js
    
  </script>
	
</body>
</html>