<html>
	<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<link rel="stylesheet" href="css/base.css"/>
		<link rel="shortcut icon" href="img/icon.ico"/>
		<title class="title">TubaPlayer Privacy</title>	
</head>
<body>
		
	<div><br/><br/><br/>
    
	<h1>
    Privacy Policy
  </h1>
  <p>
    Last updated July 22th, 2020
  </p>
  <h2>
    INTRODUCTION
  </h2>
  <p>
    We respects the privacy of our users. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our mobile application TubaPlayer, including any other media form or mobile website related or connected thereto. Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the application.
  We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the “Last Updated” date of this Privacy Policy. Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification.
  You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the application after the date such revised Privacy Policy is posted.
    </p>
    <h2>COLLECTION OF YOUR INFORMATION</h2>
  <p>We may collect information about you in a variety of ways. The information we may collect on the application includes:</p>
    <h3>Personal Data</h3>
  Personally identifiable information, such as your name, email address and interests, that you voluntarily give to us while interacting with the mobile application. You are under no obligation to provide us with personal information of any kind, however your refusal to do so may prevent you from using certain features of the mobile application.
    <h3>Derivative Data</h3>
  Information our servers automatically collect when you access the mobile app, such as your IP address, your access times, your device name and type, your operating system, your country, and other interactions with the application, as well as any other information you choose to provide.
    <h3>Financial Data</h3>
  No financial data is currently requested from our website or our mobile app for users to pay for subscription or any other feature that may only be available through payment. Furthermore it may be added in future releases and this document may be updated when it happens.
    <h3>Mobile Device Data</h3>
  Device information, such as your mobile device ID, model, and manufacturer.
    <h3>Mobile Application Information</h3>
  If you connect using our mobile application:
      • Mobile Device Access. We may request access or permission to certain features from your mobile device, including your mobile device’s storage and other features. If you wish to change our access or permissions, you may do so in your device’s settings.
      • Mobile Device Data. We may collect device information (such as your mobile device ID, model and manufacturer), operating system, version information and IP address.
      • Push Notifications. We may request to send you push notifications regarding your account or the Application. If you wish to opt-out from receiving these types of communications, you may turn them off in your device’s settings.
    <h2>USE OF YOUR INFORMATION</h2>
  Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via our mobile application to:
      • Assist law enforcement and respond to subpoena.
      • Compile anonymous statistical data and analysis for use internally.
      • Create and manage your account.
      • Email you regarding your account.
      • Generate a personal profile about you to make future visits to the mobile application more personalized.
      • Increase the efficiency and operation of the mobile application.
      • Monitor and analyze usage and trends to improve your experience with the mobile application.
      • Notify you of updates to the mobile application.
      • Perform other business activities as needed.
      • Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.
      • Request feedback and contact you about your use of the mobile application.
      • Resolve disputes and troubleshoot problems.
      • Respond to product and customer service requests.
      • Solicit support for the mobile application.
    <h2>DISCLOSURE OF YOUR INFORMATION</h2>
  We may share information we have collected about you in certain situations. Your information may be disclosed as follows:
    <h3>By Law or to Protect Rights</h3>
  If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation. This includes exchanging information with other entities for fraud protection and credit risk reduction.
    <h3>Third-Party Service Providers</h3>
  We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.
    <h3>Sale or Bankruptcy</h3>
  If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may transfer your information to the successor entity. If we go out of business or enter bankruptcy, your information would be an asset transferred or acquired by a third party. You acknowledge that such transfers may occur and that the transferee may decline honor commitments we made in this Privacy Policy.
  We are not responsible for the actions of third parties with whom you share personal or sensitive data, and we have no authority to manage or control third-party solicitations. If you no longer wish to receive correspondence, emails or other communications from third parties, you are responsible for contacting the third party directly.
    <h2>SECURITY OF YOUR INFORMATION</h2>
  We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot guarantee complete security if you provide personal information.
    <h2>POLICY FOR CHILDREN</h2>
  We do not knowingly solicit information from or market to children under the age of 13. If you become aware of any data we have collected from children under age 13, please contact us using the contact information provided below.
    <h2>CONTROLS FOR DO-NOT-TRACK FEATURES</h2>
  No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy. 
    <h2>OPTIONS REGARDING YOUR INFORMATION</h2>
    <h3>Account Information]</h3>
  You may at any time review or change the information in your account or terminate your account by:
      • Contacting us using the contact information provided below
  Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.
    <h3>Emails and Communications</h3>
  If you no longer wish to receive correspondence, emails, or other communications from us, you may opt-out by:
  • Contacting us using the contact information provided below.

  If you no longer wish to receive correspondence, emails, or other communications from third parties, you are responsible for contacting the third party directly.

    <h2>CALIFORNIA PRIVACY RIGHTS</h2>
  California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.
  If you are under 18 years of age, reside in California, and have a registered account with the mobile application, you have the right to request removal of unwanted data that you have in our mobile application. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the mobile application, but please be aware that the data may not be completely or comprehensively removed from our systems.
    <h2>CONTACT US</h2>
  If you have questions or comments about this Privacy Policy, please contact us at:

  <p>
    tubaleviao@gmail.com
    </p>

	</div><br/><br/><br/><br/>
		
<% include footer.ejs %>